@import "tailwindcss";
@import "./theme.css";

@utility font-heading {
    font-family: var(--font-heading);
}

@utility font-body {
    font-family: var(--font-body);
}

body {
    @apply transition-none; /* No transitions needed for single state */
}

/* Base Headings */
h1 { @apply text-6xl md:text-8xl lg:text-9xl font-semibold; }
h2 { @apply text-4xl md:text-6xl font-medium; }
h3 { @apply text-2xl md:text-3xl font-medium; }

/* Global Utilities */
.highlight {
    color: var(--color-brand-rose);
}

.text-subtle {
    color: var(--color-slate-400);
    @apply font-light;
}

@utility perspective-1000 {
    perspective: 1000px;
}