---

---

<header
    class="flex flex-col justify-center px-6 md:px-12 max-w-7xl mx-auto py-32 md:py-48"
>
    <div class="space-y-12 mb-16">
        <slot name="content" />
    </div>

    <div class="flex flex-wrap gap-8">
        <slot name="buttons" />
    </div>
</header>
