@reference "../../styles/global.css";

.newsletter-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    border-top: 1px solid var(--color-slate-50);
}

.newsletter-title {
    font-size: 1.5rem;
    font-family: var(--font-heading);
    margin-bottom: 1.5rem;
}

.newsletter-input {
    flex: 1 1 0%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    border-bottom: 1px solid var(--color-slate-100);
    outline: none;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    font-family: var(--font-body);
}

.newsletter-input:focus {
    border-color: var(--color-slate-900);
}

.newsletter-button {
    @apply px-4 py-4 text-slate-900 font-medium transition-all font-body;
    &:hover {
        color: var(--color-brand-rose);
    }
}