---
import "./ThemeToggle.css";
---

<button id="theme-toggle" class="theme-toggle-btn" aria-label="Alternar tema">
    <span class="light-icon material-icons-round">light_mode</span>
    <span class="dark-icon material-icons-round">dark_mode</span>
</button>

<script src="./ThemeToggle.ts"></script>
